# desktop link to the application
# copy/link it to /usr/share/applications
# ln -s ${PWD}/sioyek.desktop /usr/share/applications/sioyek.desktop

[Desktop Entry]
Version=1.0
Name=Display settings
Comment=Display settings
# Exec=/home/tuanbass/.nix-profile/bin/VirtualBox
Exec=sh -c '$HOME/.nix-profile/bin/nwg-displays'
#Icon=/path/to/audacity_icon.png
Terminal=false
Type=Application
Categories=Tools

